In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

import warnings
warnings.filterwarnings('ignore')

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://postgres:password@localhost:5432/sector_analysis_performance')

In [4]:
from dotenv import load_dotenv
load_dotenv()

True

In [5]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("alpaca_api_key")
alpaca_secret_key = os.getenv("alpaca_secret_key")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

ValueError: ('Key ID must be given to access Alpaca trade API', ' (env: APCA_API_KEY_ID)')

In [6]:
# Set timeframe to ‘1D’
timeframe = "1D"

In [7]:
# Set start and end datetimes: 5 years.
start_date = pd.Timestamp("2018-02-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-01-31", tz="America/New_York").isoformat()

In [8]:
                        
# Set the ticker information
                        
stock_tickers = ["XLE","XLF","XLRE", "XLK", "XLP", "XLB", "XLI", "XLV", "XLU", "XLY", "XLC"]

In [9]:
                    
# Get 3 year’s worth of historical price data for Microsoft and Coca-Cola
stock_ticker_df = alpaca.get_barset(
    stock_tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df
                        
# Display sample data
stock_ticker_df.head(10)

                             XLB                                     XLC       \
                            open     high    low   close     volume open high
time
2018-02-07 00:00:00-05:00    NaN      NaN    NaN     NaN        NaN  NaN  NaN
2018-02-08 00:00:00-05:00    NaN      NaN    NaN     NaN        NaN  NaN  NaN
2018-02-09 00:00:00-05:00    NaN      NaN    NaN     NaN        NaN  NaN  NaN
2018-02-12 00:00:00-05:00  58.88  59.9500  58.71  59.600  9802061.0  NaN  NaN
2018-02-13 00:00:00-05:00  59.36  59.7200  59.22  59.455  6546863.0  NaN  NaN
2018-02-14 00:00:00-05:00  58.96  60.3700  58.84  60.250  7487715.0  NaN  NaN
2018-02-15 00:00:00-05:00  60.68  60.7200  59.96  60.700  5253495.0  NaN  NaN
2018-02-16 00:00:00-05:00  60.52  61.0700  60.21  60.480  7174858.0  NaN  NaN
2018-02-20 00:00:00-05:00  60.22  60.6639  59.99  60.200  3700436.0  NaN  NaN
2018-02-21 00:00:00-05:00  60.26  61.0700  59.99  60.000  3506569.0  NaN  NaN

                                            ...    XLV                         \
                          low close volume  ...   open     high    low  close
time                                        ...
2018-02-07 00:00:00-05:00 NaN   NaN    NaN  ...    NaN      NaN    NaN    NaN
2018-02-08 00:00:00-05:00 NaN   NaN    NaN  ...    NaN      NaN    NaN    NaN
2018-02-09 00:00:00-05:00 NaN   NaN    NaN  ...    NaN      NaN    NaN    NaN
2018-02-12 00:00:00-05:00 NaN   NaN    NaN  ...  82.63  83.5149  81.89  82.86
2018-02-13 00:00:00-05:00 NaN   NaN    NaN  ...  82.39  83.1150  81.88  82.92
2018-02-14 00:00:00-05:00 NaN   NaN    NaN  ...  82.40  84.0150  82.32  83.86
2018-02-15 00:00:00-05:00 NaN   NaN    NaN  ...  84.44  84.8300  83.59  84.83
2018-02-16 00:00:00-05:00 NaN   NaN    NaN  ...  84.38  86.0100  84.38  85.40
2018-02-20 00:00:00-05:00 NaN   NaN    NaN  ...  85.00  85.2800  84.23  84.47
2018-02-21 00:00:00-05:00 NaN   NaN    NaN  ...  84.46  85.5900  84.11  84.12

                                          XLY                              \
                               volume    open      high       low   close
time
2018-02-07 00:00:00-05:00         NaN     NaN       NaN       NaN     NaN
2018-02-08 00:00:00-05:00         NaN  104.46  104.7300  100.0800  100.15
2018-02-09 00:00:00-05:00         NaN  101.14  101.6659   97.1001  100.84
2018-02-12 00:00:00-05:00  12330849.0  101.79  102.7650  100.7453  102.21
2018-02-13 00:00:00-05:00   7730724.0  101.79  102.9700  101.6200  102.74
2018-02-14 00:00:00-05:00   9151964.0  102.24  104.5700  102.1700  104.36
2018-02-15 00:00:00-05:00   8751008.0  105.00  105.3000  103.8700  105.29
2018-02-16 00:00:00-05:00   8527735.0  104.97  105.6300  104.5600  104.80
2018-02-20 00:00:00-05:00   8024381.0  104.51  105.6000  104.0600  104.47
2018-02-21 00:00:00-05:00   8126563.0  104.94  106.0100  104.3300  104.33


                               volume
time
2018-02-07 00:00:00-05:00         NaN
2018-02-08 00:00:00-05:00  14040512.0
2018-02-09 00:00:00-05:00  19138030.0
2018-02-12 00:00:00-05:00  11212090.0
2018-02-13 00:00:00-05:00   4631160.0
2018-02-14 00:00:00-05:00   6136119.0
2018-02-15 00:00:00-05:00   5111940.0
2018-02-16 00:00:00-05:00   4379673.0
2018-02-20 00:00:00-05:00   5475737.0
2018-02-21 00:00:00-05:00   4391624.0

[10 rows x 55 columns]

In [10]:
stock_ticker_close_df = stock_ticker_df.iloc[:, stock_ticker_df.columns.get_level_values(1)=='close']
stock_ticker_close_df.columns = stock_ticker_close_df.columns.droplevel(1)

In [11]:
len(stock_ticker_close_df)

1003

In [12]:
stock_ticker_close_df.isnull().sum()

XLB      3
XLC     91
XLE      3
XLF      3
XLI      3
XLK      3
XLP      3
XLRE     3
XLU      3
XLV      3
XLY      3
dtype: int64

In [13]:
stock_ticker_close_df.dropna(inplace = True)
stock_ticker_close_df.isnull().sum()

XLB     0
XLC     0
XLE     0
XLF     0
XLI     0
XLK     0
XLP     0
XLRE    0
XLU     0
XLV     0
XLY     0
dtype: int64

In [14]:
stock_ticker_close_df.to_sql('stock_ticker_close', engine)