In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

import warnings
warnings.filterwarnings('ignore')

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://postgres:password@localhost:5432/sector_analysis_performance')

In [4]:
# Define a query that select all rows from the owners table
query = "SELECT * FROM stock_ticker_close;"

# Load data into the DataFrame using the read_sql() method from pandas
stock_ticker_close_df = pd.read_sql(query, engine)

# Show the data of the new DataFrame
stock_ticker_close_df

,time,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV,XLY
0,2018-06-19 00:00:00-04:00,58.52,49.96,74.73,27.360,73.24,71.40,51.05,31.500,50.22,84.85,111.77
1,2018-06-20 00:00:00-04:00,58.30,50.58,75.08,27.265,73.26,71.58,51.11,31.850,50.23,85.03,112.30
2,2018-06-21 00:00:00-04:00,57.70,50.27,73.62,27.215,72.38,71.02,51.20,32.040,50.40,84.56,111.49
3,2018-06-22 00:00:00-04:00,58.49,50.49,75.21,27.070,72.60,70.80,51.62,32.300,50.75,84.91,111.34
4,2018-06-25 00:00:00-04:00,57.63,49.45,73.56,26.790,71.70,69.34,51.87,32.235,51.60,84.15,108.91
...,...,...,...,...,...,...,...,...,...,...,...,...
904,2022-01-25 00:00:00-05:00,83.33,71.27,65.30,38.470,100.78,151.61,74.87,46.860,67.11,128.21,179.47
905,2022-01-26 00:00:00-05:00,82.43,70.16,65.18,38.570,99.87,152.42,74.28,46.040,66.56,127.54,178.70
906,2022-01-27 00:00:00-05:00,82.74,70.32,65.94,38.220,99.00,151.43,74.80,45.260,67.14,127.85,174.23
907,2022-01-28 00:00:00-05:00,83.22,72.31,65.63,38.730,99.71,157.98,75.67,46.810,67.92,130.48,178.04
908,2022-01-31 00:00:00-05:00,84.42,73.93,65.91,39.060,100.74,161.97,75.97,47.380,69.24,131.23,184.93